<div class="container">
  <!-- No data message -->

  <!-- Employee list -->
  <table class="table table-bordered">
    <thead class="table-successs">
      <tr>
        <th scope="col">User ID</th>
        <th scope="col">Firstname</th>
        <th scope="col">Lastname</th>
        <th scope="col">Email</th>
        <th scope="col">Phone No</th>
        <th scope="col center">Update</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users; let i = index">
        <th scope="row">{{user.id}}</th>
        <td>{{user.firstname}}</td>
        <td>{{user.lastname}}</td>
        <td>{{user.email}}</td>
        <td>{{user.phonenumber}}</td>
        <td class="text-center edit-block">
          <a class="edit" [routerLink]="['/edit', user.id]">
            <button type="button" class="btn  btn-sm">Edit</button>
          </a>
          <span class="delete" (click)="onDelete(user.id)">
            <button type="button" class="btn  btn-sm">Delete</button>
          </span>
        </td>
      </tr>
    </tbody>
  </table>
</div>